:root{
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3D;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 700px;
}

.header{
    font-size: 1.6rem;
    background-color: #F8F9FA;
    padding-top: 20px;
}
.logo-with-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin: 0 40px;
    padding-bottom: 20px;
}

.navbar{
    padding: 0;
}

.navbar-toggler{ 
    background-color: var(--white-color);
}
.navbar-toggler-icon{
    height: 44px; 
    width: 44px;
}

.header__navbar{
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 40px;
}
.container-fluid{
    padding: 0;
}

.navbar-container{
    padding: 0 40px;
}

.nav-item{

}
.navbar-nav .nav-item .nav-link{
    display: inline-block;
    padding: 10px 20px;
}

.navbar-nav .nav-item .nav-link:hover{
    background-color: #333;
    color: var(--white-color);
}

.nav-search{
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 60px;
    overflow: hidden;
    border: 1px solid var(--border-color);
}
.nav-search-icon{
    padding-left: 0.75rem;
}
.nav-search-input{
    font-size: 1.6rem;
    line-height: 1.6rem;
    border: none;
    margin: 0 !important;
}
.nav-search-input:focus{
    outline: none;
}

.container{
    flex: 1;
    
}
.sidebar{
    background-color: #F8F9FA;
    height: 100%;
}
.sidebar__list{
    height: 100%;
    padding: 0;
    margin: 0;
}
.sidebar__item{
    list-style-type: none;

}
.sidebar__link{
    display: block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 0;
}
.sidebar__link:hover{
    background-color: var(--white-color);
    color: #aaa;
}
.addFacility{
    position: relative;
}
.addFacility-submenu{
    position: absolute;
    right: -130px;
    top: 0;
    background-color: #F8F9FA;
}
.submenu-list{
    padding: 0;
}
.submenu-item{
    list-style-type: none;
}
.submenu-link{
    display: block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}
.submenu-link:hover{
    background-color: var(--white-color);
    color: #aaa;
}

.table{
    font-size: 1.4rem;
}


.form{
    font-size: 1.4rem;
}

.form-control{
    font-size: 1.4rem;
    margin: 10px;
}
.submit-btn{
    font-size: 1.4rem;
    margin: 10px;
    width: 100%;
}


.footer{
    background-color: #F8F9FA;
    height: 80px;
    width: 100%;
    display: flex;
}
.footer-text{
    flex: 1;
    font-size:1.6rem;
    text-align: center;
}